.color-filter {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;

  .color-filter-item {
    > img {
      width: 30px;
      display: inline-block;
      filter: grayscale(1);
      cursor: pointer;
      opacity: 0.4;

      &:hover {
        filter: grayscale(0.5);
        opacity: 1;
      }
    }

    &.selected {
      > img {
        filter: grayscale(0);
        opacity: 1;
      }
    }
  }
}