body,
html,
#root,
main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

main {
  overflow: hidden;
}

$textTagList: 'h1', 'h2', 'h3', 'h4', 'p';
@each $tag in $textTagList {
  #{$tag} {
    margin: 0;
  }
}
